<% layout("layouts/boilerplate")%>
<body>
<br>
    <h3>My Account</h3><hr>
    <div class="row">
        <div class="col-3">
            <div class="list-group">
                <a href="/account/personalInfo" class="list-group-item list-group-item-action " aria-current="true">
                Personal Information
                </a>
                <a href="/account/philatelicDeposit" class="list-group-item list-group-item-action">Philatelic Deposit Account</a>
                <a href="#" class="list-group-item list-group-item-action">Order History</a>
                <a href="#" class="list-group-item list-group-item-action">Schemes</a>
                <a class="list-group-item list-group-item-action disabled" aria-disabled="true">Account Setting</a>
            </div>
        </div>
        <div class="col-2"></div>
        <div class="col-7">
            <form>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Pincode</label>
                    <input type="number" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                    <label class="form-label">Frequency</label>
                    <div>
                        <input type="radio" class="form-check-input" name="frequency" id="exampleCheck1" value="once">
                        <label class="form-check-label" for="exampleCheck1">Once a year</label>
                    </div>
                    <div>
                        <input type="radio" class="form-check-input" name="frequency" id="Check2" value="twice">
                        <label class="form-check-label" for="Check2">Twice a year</label>
                    </div>
                    <div>
                        <input type="radio" class="form-check-input" name="frequency" id="Check3" value="four">
                        <label class="form-check-label" for="Check3">Four times a year</label>
                    </div>
                    <div>
                        <input type="radio" class="form-check-input" name="frequency" id="Check4" value="six">
                        <label class="form-check-label" for="Check4">Six times a year</label>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Your Initial Payment</label>
                        <input type="number" class="form-control" id="InitialPayment">
                    </div>
                </div>
                <button type="Pay And Create Account" class="btn btn-success">Submit</button>
            </form>
            
        </div>
    </div>
</body>