<footer>
    <br><br>

    <div class="big">
        <div class="row">
        <div class="col-sm-3">
            <h6>Quick Links</h6>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">About Us</a></li>
                <li><a href="">Forms</a></li>
                <li><a href="">Contact Us</a></li>
                <li><a href="">Right to Info</a></li>
            </ul>
        </div>
        <div class="col-sm-3">
            <h6>Resources</h6>
            <ul>
                <li><a href="">Get Started</a></li>
            </ul>
        </div>
        <div class="col-sm-3">
            <h6>
                Account &amp; Support
            </h6>
            <ul>
                <li><a href="/account/personalInfo">My Account</a></li>
                <li><a href="">FAQ's</a></li>
            </ul>
        </div>
        <div class="col-sm-3">
            <h6>
                Policies
            </h6>
            <ul>
                <li><a href="">Terms &amp; Conditions</a></li>
                <li><a href="">Hyperlinking Policy</a></li>
                <li><a href="">Privacy Policy</a></li>
                <li><a href="">Copyright Info</a></li>
            </ul>
        </div>  
    </div>    
    </div>
    <div class="f-info">
        <!-- <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div> -->
        <div class="f-info-socials">
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="f-info-brand">
            This Website Belongs To Department Of Posts, Ministry Of Communications, Govt. of India
            <br>Website Created & Maintained By National Informatics Centre (NIC) (3)
        </div>
        
    </div>
</footer>