<nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">ePost Office</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link " aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Catalogue
          </a>
          <ul class="dropdown-menu horizontal-dropdown" aria-labelledby="navbarDropdownMenuLink">         
            <li><a class="dropdown-item" href="#">India</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/products/">Andhra Pradesh</a></li>
            <li><a class="dropdown-item" href="/products/assam">Assam</a></li>
            <li><a class="dropdown-item" href="#">Bihar</a></li>
            <li><a class="dropdown-item" href="#">Chattisgarh</a></li>
            <li><a class="dropdown-item" href="#">Delhi</a></li>
            <li><a class="dropdown-item" href="#">Gujarat</a></li>
            <li><a class="dropdown-item" href="#">Haryana</a></li>
            <li><a class="dropdown-item" href="#">Himachal Pradesh</a></li>
            <li><a class="dropdown-item" href="#">Jammu Kashmir</a></li>
            <li><a class="dropdown-item" href="#">Jharkhand</a></li>
            <li><a class="dropdown-item" href="#">Karnataka</a></li>
            <li><a class="dropdown-item" href="#">Kerala</a></li>
            <li><a class="dropdown-item" href="#">Madhya Pradesh</a></li>
            <li><a class="dropdown-item" href="#">Maharashtra</a></li>
            <li><a class="dropdown-item" href="#">North East</a></li>
            <li><a class="dropdown-item" href="#">Odisha</a></li>
            <li><a class="dropdown-item" href="#">Punjab</a></li>
            <li><a class="dropdown-item" href="#">Rajasthan</a></li>
            <li><a class="dropdown-item" href="#">Tamil Nadu</a></li>
            <li><a class="dropdown-item" href="#">Telangana</a></li>
            <li><a class="dropdown-item" href="#">West Bengal</a></li>
            <li><a class="dropdown-item" href="#">Base Circle</a></li>

          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/community/main">Community Forum</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/features/bidding">Event-Quiz-Bidding</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/map">Postal Circle Map</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Resources</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/account/personalInfo">My Account</a>
        </li>
      </ul>
      <div class="search-container">
        <input class="search-input" type="search" placeholder="Search" aria-label="Search">
        <button class="search-button" type="submit">Search</button>
    </div>
    
    
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link " aria-current="page" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " aria-current="page" href="/signup">Signup</a>
        </li>
      </ul>

    </div>
  </div>
</nav>