<% layout("layouts/boilerplate")%>
<body><br>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-8">
            <a href="/features/events"><button type="button" class="btn btn-info">Events</button></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/features/quiz"><button type="button" class="btn btn-info">Quizzes</button></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/features/bidding"><button type="button" class="btn btn-info">Bidding</button></a>
        </div>
    </div><br>
    <div class="row">
        <div class="container-fluid col-6">
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
    </div>
<br><br>
    <div class="row">    
        <% for(let bid of bidding) { %>
            <div class="col-4">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="<%= bid.url %>" class="img-fluid rounded-start" alt="Image Not Found">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title"><%=bid.productName%></h5>
                          <p class="card-text"></p>
                          <p class="card-text"><small class="text-body-secondary">No. of Bids: <%= bid.numberOfBids%></small></p>
                          <p class="card-text"><small class="text-body-secondary">Average Bid: <%= bid.averageBid%></small></p>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                </div>
        <%}%>
    </div>
</body>