<% layout("layouts/boilerplate")%>
<div class="product-details-page">
    <h3>Product Details</h3>
    <ul>
        <li><%= product.title %></li>
        <li><%= product.price %></li>
    </ul>
</div>
