<% layout("layouts/boilerplate")%>
<body>
    <br><br>
    <div class="row">
        <div class="col-5"></div>
        <div class="col-3">
            <img class="pp" src="https://pixabay.com/get/g8c310f64574b99808021128713d9c9f2681e0e2fb7f47419fd0c061d90d881611d785db456c6c507ca1ffe9aeeb478e2_1280.png" alt="">
        </div>
    </div>
    <h5>Collections</h5>
    <div class="row">
        <div class="col-3">
            <img class="pi"  src="https://i.ibb.co/F3fPSPN/image.png" alt="">
        </div> &nbsp;
        <div class="col-3">
            <img class="pi" src="https://i.ibb.co/F3fPSPN/image.png" alt="">
        </div> &nbsp;
        <div class="col-3">
            <img class="pi" src="https://i.ibb.co/F3fPSPN/image.png" alt="">
        </div>
    </div>
</body>