<% layout("layouts/boilerplate")%>
<body> 
    <div class="homepage">
        <br>
        <h3>Latest Releases And News</h3><br>
        <form action="" method="">
            <button type="button" class="btn btn-info">View All Releases</button>
        </form><br>
        <div id="carouselExampleIndicators" class="carousel-container carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 4"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="https://i.ibb.co/5hGtcx4/sc1.jpg" class="d-block w-100" style="height: 400px;">
              </div>
              <div class="carousel-item">
                <img src="https://i.ibb.co/FsFKRW8/sc8.jpg" class="d-block w-100" alt="..." style="height: 400px;">
              </div>
              <div class="carousel-item">
                <img src="https://i.ibb.co/Z87JxXQ/100th-Birth-Anniversary-of-Karpoori-Thakur-1.jpg" class="d-block w-60" alt="..." style="height: 400px;">
              </div>
              <div class="carousel-item">
                <img src="https://i.ibb.co/F3NFYh7/100th-Birth-Anniversary-of-Karpoori-Thakur.jpg" class="d-block w-60" alt="..." style="height: 400px;">
              </div>
              <div class="carousel-item">
                <img src="https://i.ibb.co/2PVsmcM/Screenshot-2024-09-06-224350.jpg" class="d-block w-100" alt="..." style="height: 400px;">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next " type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</body>
