<% layout("layouts/boilerplate")%>
<body>
    <h3>All Products</h3>
    <ul>
        <% for(let product of allProducts) { %>
            <li>
                <a href="/products/<%= product._id %>"><%= product.name %></a>
            </li>
            <% } %>
    </ul>
</body>