<% layout("layouts/boilerplate")%>
<body>
    <h3>
        Product Details
    </h3>
    <ul>
        <li><%= product.name%></li>
        <li><%= product.date%></li>
        <li><%= product.denomination%></li>
        <li><%= product.theme%></li>
    </ul>
</body>
